#p5-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 20px 0px;
  margin: 0px, 0px, 0px, 0px;
}

.left-aligned {
  margin-left: 0;
  margin-right: auto;
}

/*
  以下未使用
*/
