
body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #fdffed;
  color: #c6cf75;
}

nav {
  padding: 10px;
  background-color: #181818;
  display: flex;
  justify-content: center;
  gap: 1rem; 
}


nav a {
  text-decoration: none;
  color: #ffffff;
  margin-right: 15px;
  font-size: 1rem;
  font-weight: 600;
  transition: color 0.3s ease, transform 0.2s ease;
}

nav a:hover {
  color: #bb86fc;
  transform: scale(1.05);
}

@media (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  nav a {
    font-size: 1.2rem; 
  }
}
  